---
import Banner from '../layouts/banner.astro';
import Layout from '../layouts/Layout.astro';
import Slogan from '../layouts/slogan.astro';
import Hero from '../layouts/hero.astro';
import Photos from '../layouts/photos.astro';
import Crew from '../layouts/crew.astro';
---

<Layout>
  <Banner />

  <section id="slogan">
    <Slogan />
  </section>

  <section id="diary">
    <Hero />
  </section>

  <section id="galerie">
    <Photos />
  </section>

  <section id="crew">
    <Crew />
  </section>

</Layout>

<style>
  section[id] {
    scroll-margin-top: 100px;
  }
</style>